footer
  .footer_wrapper
    p.txt BMW總代理 汎德股份有限公司
    figure.fb.fbShare
      img(src="./images/fb.svg", alt="")
    ul
      li 
        a(href="https://www.bmw.com.tw/zh/index.html" target="_blank") BMW官網
      li 
        a(href="https://www.bmw.com.tw/zh/footer/metanavigation/legal-disclaimer-pool/legal-disclaimer.html" target="_blank") 網站聲明
      li 
        a(href="https://www.bmw.com.tw/zh/owner/overview.html" target="_blank") BMW全台展示中心




.go_reservation
  figure.fix_pic
    img(src="./images/fixBtn.png", alt="")
  p 預約賞車