header
  figure.ham
    img(src="./images/ham.svg", alt="")
  figure.logo
    img(src="./images/logo.png", alt="")
  .menu
    .row
      p.txt 預約賞車
    .row
      .btn.fb.fbShare
        figure.fb
          img(src="./images/fb.svg", alt="")
        p.txt 分享至Facebook
      .btn.line.lineShare
        figure.line
          img(src="./images/line.svg", alt="")
        p.txt 分享至Line
    .row
      a.txt(href="https://www.bmw.com.tw/zh/index.html" target="_blank") BMW官網
    .row
      a.txt(href="https://www.bmw.com.tw/zh/footer/metanavigation/legal-disclaimer-pool/legal-disclaimer.html" target="_blank") 網站聲明
    .row
      a.txt(href="https://www.bmw.com.tw/zh/owner/overview.html" target="_blank") BMW全台展示中心



section.loading
  figure.load
    img(src="./images/load.png", alt="")