

script(src='./js/libs/jquery.js')
script(src='./js/libs/jquery.easeScroll.js')
script(src='./js/libs/scroll-scope.min.js')
script(src="./js/libs/TweenMax.js")
script(src="./js/libs/owl.carousel.min.js")
script(src='./js/libs/preloadjs-0.4.1.min.js')
script(src="./js/libs/highlight.pack.js")
script(src="./js/libs/ScrollMagic.js")
script(src="./js/libs/animation.gsap.js")
script(src="./js/libs/debug.addIndicators.js")    
script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
script(src="./js/libs/jquery.twzipcode.min.js")    
script(src="./js/common.js")


